body
{
  font-family: 'Gaegu', cursive;
  background: #c689ff;
}

.header_div
  {
  
  background: #903bb1;
  color: rgb(239, 227, 227); 
  }

  .header_div p{
    font-family: 'Zen Kurenaido', sans-serif;
    letter-spacing: 3px;
    font-size: 31px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bold;
    letter-spacing: 4px;
  }

  
  .copy_right_footer {
    font-family: 'Kristi', cursive;
   position: fixed;
   color: #000000;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #f9f9f9;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(214, 111, 170);
}
